.card,.WB_card {
  /*padding: 20px 0px 0;*/
  background: #fff;
  margin-bottom: 10px;
}
.card > header
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card > div,.WB_card  > div
{
  margin: 0 20px 15px;

}
.card > div:last-child,.WB_card > div:last-child
{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
/*卡片内容*/
/*头像*/
.card_avatar
{
  width: 2.125rem;
  /*margin-left: .75rem;*/
position: relative;
  display: block;
  text-align: center;
  margin: .625rem 0 .75rem .5rem;
}
/*新avatar*/
.card_avatar img
{
  width: 100%;
}



.card_brief {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: .5rem .6875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.brief_title
{
  line-height: 1.125rem;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9375rem;
}
.brief_content
{
  padding: .25rem 0 0;
  line-height: 1rem;
  color: #929292;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .625rem;
}

.card_detail
{
  padding: .25rem .75rem .625rem;
}
.card_publish
{
  text-align: center;
  width: 5rem;
  line-height: 2rem;
  font-size: .875rem;
  text-indent: 20px;
  margin-top: .875rem;
  background: url(../../../../app/assets/images/btn_hair@2x_b51ca52.png) no-repeat;
  background-size: contain;
  color: #333;
}





.card_detail .tag
{
  color: #2F97D8;
}
.card_detail .link
{
  color: #2F97D8;
}
.card_detail p{
  word-wrap: break-word;
  line-height: 1.25rem;
  font-size: .9375rem;
  color:#666666;
}
.pic_list
{
  overflow: hidden;
  width: 15.5rem;
  margin-top: .4375rem
}
.pic_list li
{
  float: left;
  width: 4.75rem;
  height: 4.75rem;
  margin: .3125rem .3125rem 0 0;
}
.pic_list li img
{
  height: 4.75rem;
  width: 4.75rem;
}

/*todo:remove*/
.card-detail
{
  padding: .25rem .75rem .625rem;
}

.default_content
{
  word-wrap: break-word;
  line-height: 1.35rem;
}



.default-content
{
  word-wrap: break-word;
  line-height: 1.35rem;
}
.extend_content
{
  position: relative;
  margin: .4375rem -.75rem -.625rem;
  background-color: #f7f7f7;
}
.extend_content > .inner
{
  /*padding: .625rem;*/

  padding: 1.25rem;
}
.extend_content > .inner:before{
  content: '';
  background: url("../../../../app/assets/images/icon_cite1@2x.png") no-repeat;
  background-size: contain;
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  left: .625rem;
}
.extend_content > .inner:after{
  content: '';
  background: url("../../../../app/assets/images/icon_cite2@2x.png") no-repeat;
  background-size: contain;
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  right: .625rem;
}

.extend_content .weibo-original
{
  word-wrap: break-word;
  line-height: 1.25rem;
}
/*todo:delete*/
.extend-content
{
  position: relative;
  margin: .4375rem -.75rem -.625rem;
  background-color: #f7f7f7;
}

/*todo:remove*/
.extend-content > .inner
{
  padding: .625rem;

}

.extend-content .weibo-original
{
  word-wrap: break-word;
  line-height: 1.25rem;
}


.card_handlebar
{
  height: 2.25rem;
  text-align: center;
  line-height: 1.5rem;
  /*margin-bottom: -.0625rem;*/

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card_handlebar a{
  flex: 1;
  width: 100%;
  display: block;
  position: relative;
  font-size: .8125rem;
  color: #8C8C8C;
}
.card_handlebar a i{
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: sub;
  padding-right: 10px;
}
.card_handlebar a.chosen i
{
  background: url("../../../../app/assets/images/btn_favorite_sel@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: sub;
  padding-right: 10px;
}


/*按钮*/
.handlebar_transmit
{
  background: url("app/assets/images/btn_transmit@2x.png") no-repeat;
}
.handlebar_comment
{
  background: url("../../../../app/assets/images/btn_comment@2x.png") no-repeat;
}
.handlebar_collection
{
  background: url("../../../../app/assets/images/btn_collection_nor@2x.png") no-repeat;
  /*background-size:contain ;*/
  /*width: 16px;*/
  /*height: 15px;*/
  /*display: inline-block;*/
  /*vertical-align: text-bottom;*/
  /*padding-right: 10px;*/
}
.handlebar_favorite
{
  background: url("../../../../app/assets/images/btn_favorite_nor@2x.png") no-repeat;

}
.handlebar_use
{
  background: url("../../../../app/assets/images/btn_use@2x.png") no-repeat;
}
/*R shipei*/

.line_top
{
  border-top: 1px solid #dadada;
}
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
  .line_top {
    border: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dadada),color-stop(50%,#dadada),color-stop(50%,transparent));
    background-image: -webkit-linear-gradient(top,#dadada 0,#dadada 50%,transparent 50%);
    background-image: linear-gradient(to bottom,#dadada 0,#dadada 50%,transparent 50%);
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top
  }
}
/*card模块结束*/

/*comment模块开始*/
.comment{
  margin-bottom: .5625rem;

  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
  box-shadow: 0 1px .1875rem -.125rem rgba(0,0,0,.2);
}
/*comment 复杂border 针对R屏幕*/
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
  .line-around,.module {
    border: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e6e6e6),color-stop(50%,#e6e6e6),color-stop(50%,transparent)),-webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,transparent),color-stop(100%,#d8d8d8));
    background-image: -webkit-linear-gradient(top,#e6e6e6 0,#e6e6e6 50%,transparent 50%),-webkit-linear-gradient(top,transparent 50%,#d8d8d8 50%,#d8d8d8 100%);
    background-image: linear-gradient(to bottom,#e6e6e6 0,#e6e6e6 50%,transparent 50%),linear-gradient(to bottom,transparent 50%,#d8d8d8 50%,#d8d8d8 100%);
    -webkit-background-size: 100% 1px,100% 1px;
    background-size: 100% 1px,100% 1px;
    background-repeat: no-repeat;
    background-position: top,bottom
  }
}
/*信息条*/
.comment_infobar
{
  height: 43px;
  line-height: 43px;
  padding-left: 3px;
  position: relative;
  z-index: 1;
}
.infobar_tab
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  border-bottom: 1px solid #dadada;

}
.tab_react
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.tab-plus
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.info_txt
{
  display: inline-block;
  padding: 0 9px;
  position: relative;
  color: #929292;
}
.info_txt.current
{
  border-bottom:2px solid #2F97D8 ;
}
.info_txt em
{
  margin-left: 5px;
}
/*.info_txt */

/*评论框体*/
.comment_box
{
  position: relative;
  border: 0;
  background-color: #fefefe;
}
.comment_list{

}
.list_comment
{
  position: relative;
  padding: 10px 12px;
  /*margin-bottom: ;*/
  display: flex;

  border-bottom: 1px solid #dadada;
}
/*todo:R 屏添加*/
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
  .list_comment,.infobar_tab {
    border: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,transparent),color-stop(100%,#dadada));
    background-image: -webkit-linear-gradient(top,transparent 50%,#dadada 50%,#dadada 100%);
    background-image: linear-gradient(to bottom,transparent 50%,#dadada 50%,#dadada 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom
  }
}

.comment_avatar
{
  height: 34px;
  margin: 0 12px 0 0;
  padding: 0;
}
.comment_detail
{
  /*padding: .5rem .6875rem;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

}
.comment_title
{
  line-height: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .8125rem;
}
.comment_time
{
  padding: .25rem 0 0;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #929292;
  font-size: .625rem;
}
.comment_content
{
  padding: .25rem 0 0;
  line-height: 1rem;
  font-size: .9375rem;
  color: #5d5d5d;
}





.handle_tablist
{
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.handle_tablist li:not(.tab_slider)
{
  width: 20%;
  /*margin: 0 10px;*/
  display: block;
  float: left;
  font-size: 15px;
  overflow: hidden;
  text-align: center;
}
.handle_tablist li.tab_love
{
  float: right;
}
.handle_tablist .tab_slider{
  width: 20%;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
}
.handle_tablist .tab_slider span{
  width: 60px;
  background: #2F97D8;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}








.avatar
{
  float: left;
}
.avatar a {
  display: block;
  width: 5rem;
  height: 5rem;
  /*max-width: 80px;*/
  /*max-height: 80px;*/
}

.avatar a > img {
  height: 100%;
  width: auto;
}
.brief
{
  /*经典偏移*/
  margin-left: 6rem;
  padding-top: 5px;

}
/*h2*/
/*{*/
  /*float: left;*/
  /*font-size: 1.166667rem;*/
  /*line-height: 1;*/
  /*font-family: "SimSun";*/
  /*font-weight: bold;*/
/*}*/
.info
{
  font-size: 1rem;
  line-height: 1;
  font-family: "SimSun";
  font-weight: normal;
  color: #999999;
  position: absolute;
  bottom: 5px;
}
.level
{
  position: absolute;
  top: 0;
  right: 0;
}
.publish
{

  background: url(app/assets/images/btn_hair@2x_b51ca52.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 80px;
  /* height: 80px; */
}
.publish a
{
  border: 1px solid #2D2D2D;
  color: #2D2D2D;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
  float: right;
}

.comment_date
{
  color: #999999;
  float: right;
}
i.brief_delete
{
  float: right;
  font-size: 1rem;
  color: #808080;
  font-style: normal;
}
i.brief_delete::before{
  content: "";
  background: url("app/assets/images/delete@2x.png") no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
}
i.logo
{
  font-style: normal;
  font-size: .625rem;
  width: 3.25rem;
  line-height: 1.25rem;
  margin-top: .625rem;
  margin-right: 1rem;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-weight: normal;
  background: #FE6E6C;
  color: white;
  position: relative;
}
i.logo::after{
  content: "";
  border-width: 4px 1.625rem;
  border-style: solid;
  border-color: #FE6E6C transparent transparent;
  position: absolute;
  top: 20px;
  left: 0;
}

.media-pic-list
{
  overflow: hidden;
  width: 15.5rem;
  margin-top: .4375rem;
}
.media-pic-list li{
  float: left;
  width: 4.75rem;
  height: 4.75rem;
  margin: .3125rem .3125rem 0 0;

}
.media-pic-list li img
{
  height: 4.75rem;
  width: 4.75rem;
}

.more-detail
{
  height: 2.25rem;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: -.0625rem;
}
.card_detail .detail_transmit
{
  background: #f2f2f2;
  padding: 10px 20px;
  position: relative;
}
.card_detail .detail_transmit::before{
  content: '';
  background: url("../../../../app/assets/images/icon_cite1@2x.png") no-repeat;
  background-size: contain;
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.card_detail .detail_transmit::after {
  content: '';
  background: url("../../../../app/assets/images/icon_cite2@2x.png") no-repeat;
  background-size: contain;
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.image_list > a
{
  margin-left: 0;
  width: calc((100% - 20px ) / 3);

  width: -webkit-calc((100% - 20px ) / 3);
  margin-right: 4px;
  display: inline-block;
}
.image_list > a img
{
  width: 100%;
  height: 100%;
}
.image_list > a:last-child
{
  margin-right: 0;
}

.card_handle
{
  height: 40px;
  padding: 0px;
  border-top: 1px solid #E5E5E5;
  margin-left: -20px;
  margin-right: -20px;
}
.card_handle a
{
  width: 33.3333%;
  display: block;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #8C8C8C;
}
.card_handle a.selected
{
  color: #2F97D8;
  /*border-bottom: 1px solid #2F97D8;*/
}
.card_handle .transmit > span
{
  background: url("../../../../app/assets/images/btn_transmit@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;

}
.card_handle .comment > span
{
  background: url("../../../../app/assets/images/btn_comment@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;

}
.card_handle .collection span
{
  background: url("../../../../app/assets/images/btn_collection_nor@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;

}

.card_handle .collection.chosen span
{
  background: url("../../../../app/assets/images/btn_collection_sel@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;
}
.card_handle .handle_use
{
  width: 50%;
}

.card_handle .handle_use span
{
  background: url("../../../../app/assets/images/btn_use@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;
}
.card_handle .handle_favorite
{
  width: 50%;
}
.card_handle .handle_favorite span
{
  background: url("../../../../app/assets/images/btn_favorite_nor@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;
}
.card_handle .handle_favorite.chosen span
{
  background: url("../../../../app/assets/images/btn_favorite_sel@2x.png") no-repeat;
  background-size:contain ;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  padding-right: 10px;
}



/*.card_handle .handle_transmitbtn*/
/*{*/
  /*width: inherit;*/
  /*margin: 0 15px;*/
/*}*/
/*.card_handle .handle_commentbtn*/
/*{*/
  /*width: inherit;*/
  /*margin: 0 15px;*/

/*}*/
/*.card_handle .handle_lovebtn*/
/*{*/
  /*float: right;*/
  /*width: inherit;*/
  /*margin: 0 15px;*/

/*}*/

.imageBackground
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: #000;*/
  background: rgba(0,0,0,.8);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s linear;
  /*opacity: 0;*/
  z-index: 1000;
  text-align: center;
  line-height: 60;
  /*opacity: .3;*/
}
.imageBackground img
{
  width: 66%;
  height: auto;
  /*margin: 0 auto;*/
}

.module-comment .info-bar
{
  height: 43px;
  line-height: 43px;
  padding-left: 3px;
  position: relative;
  z-index: 1;
}
.module-comment .info-txt {
  display: inline-block;
  padding: 0 9px;
  position: relative;
  color: #929292;
}
.module-comment .arrow-up {
  top: 39px;
  left: 50%;
  margin-left: -4px;
}
.module-comment .info-txt .arrow-up {
  display: none;
}
.module-comment .comment-box
{
  position: relative;
  border: 0;
  background-color: #fefefe;
}
.module-comment .card-list
{
  box-shadow: none;
}
.module-infobox {
  position: relative;
  padding: 10px 12px;
}
.module-infobox.more {
  margin: -1px 0 15px;
  padding: 0;
  height: 10px;
  text-align: center;
  display: block;
}
.module-infobox.more span {
  padding: 0 5px;
  line-height: 20px;
  font-size: .75rem;
  color: #5184bc;
  background: #fff;
}
.module-infobox .mod-media {
  height: 34px;
  margin: 0 12px 0 0;
  padding: 0;
}
.module-infobox.line-bottom:not(.more):last-of-type {
  border-bottom: 0 none;
}
.module-comment .mod-pagelist .card-list .module-infobox:last-of-type {
  background-image: none;
}















/*材料*/
.head_bar
{
  position: fixed;
  background: #EDECEC;
  height: 44px;
  /*一指*/
  width: 100%;
  /*background: #ccc;*/
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

.cardlist_wrapper
{
  padding-top: 44px;
}
.bar_wrapper

{
  text-align:center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.bar_slider
{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  width: 100px;
  height: 44px;
  position: relative;
  /*background-color: #EDECEC;*/
  font-size: 14px;
  line-height: 44px;

}
.bar_slider.selected
{
  color: #2F97D8;
  position: relative;
}
.bar_slider.selected::after
{
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 10%;
  width: 80%;
  border-bottom: 3px solid #2F97D8;

}


